[논문]("https://www.sciencedirect.com/science/article/pii/S2352340919306985")

파일 정보  
- Gender : 성별
- Age : 나이 
- Height : 키 m
- Weight : 몸무게 kg
- family_history_with_overweight : 가족력 -> one-hot 필요
- Frequent consumption of high caloric food 고열량 식품 빈도(FAVC)
- Frequency of consumption of vegetables 채소 빈도(FCVC)
- Number of main meals 하루 끼니 횟수(NCP)
- Consumption of food between meals 간식(CAEC)
- SMOKE : 흡연 유무
- Consumption of water daily 물 섭취(CH20)
- The attributes related with the physical condition are: Calories consumption monitoring 칼로리 소비(SCC) 
- Physical activity frequency 활동량(FAF)
- Time using technology devices 서마터폰 사용량(TUE),
- Consumption of alcohol 음주빈도(CALC)
- Transportation used 주이동수단(MTRANS)
- NObeyesdad -> Target column -> Label

In [296]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt # 그래프
from sklearn.model_selection import train_test_split # 분리

In [297]:
Encoding_dic = {}

In [298]:
Encoding_dic

{}

In [299]:
from sklearn.preprocessing import OneHotEncoder # 0 or 1

OneHotEncoder(sparse_output=True)

def func_OneHotEncoder(DF, col_name):
    before = 1
    after = ordinal_encoder.fit_transform(obesityDF[column].values)
    Encoding_dic[col_name] = tuple(zip())
    return

In [300]:
x = list(obesityDF[column].unique())
y = list(range(len(obesityDF[column].unique())))
tuple(zip(x,y))

((0, 0), (1, 1))

In [301]:
# 순서형 데이터 정리
def self_OrdinalEncoder(DF, col_name, value_list):
    '''
    DF : 해당 데이터 프레임
    col_name : 대상 컬럼 명
    name_list : OrdinalEncoder를 위해 정렬한 value들의 list
    
    return : 인코딩된 컬럼 SR
    '''
    Encoding_dic[col_name] = tuple(zip(value_list, range(len(value_list))))
    SR = DF[col_name].replace(value_list, range(len(value_list)))
    return SR

> •Underweight Less than 18.5  
    > •Normal 18.5 to 24.9  
    > •Overweight 25.0 to 29.9  
    > •Obesity I 30.0 to 34.9  
    > •Obesity II 35.0 to 39.9  
    > •Obesity III Higher than 40

## 데이터 불러오기

In [302]:
obesityDF = pd.read_csv("ObesityDataSet.csv")
obesityDF.head()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

## encoding 하기

In [303]:
obesityDF["CAEC"] = self_OrdinalEncoder(obesityDF, "CAEC", ["Always", "Frequently", "Sometimes", "no"])

obesityDF["CAEC"].value_counts()

CAEC
2    1765
1     242
0      53
3      51
Name: count, dtype: int64

In [304]:
obesityDF["CALC"] = self_OrdinalEncoder(obesityDF, "CALC", ["Always", "Frequently", "Sometimes", "no"])

obesityDF["CALC"].value_counts()

CALC
2    1401
3     639
1      70
0       1
Name: count, dtype: int64

In [305]:
obesityDF["NObeyesdad"] = self_OrdinalEncoder(obesityDF, "NObeyesdad", [
        "Insufficient_Weight",
        "Normal_Weight",
        "Overweight_Level_I",
        "Overweight_Level_II",
        "Obesity_Type_I",
        "Obesity_Type_II",
        "Obesity_Type_III"])

obesityDF["NObeyesdad"].value_counts()

NObeyesdad
4    351
6    324
5    297
2    290
3    290
1    287
0    272
Name: count, dtype: int64

## 순서 상관 없는, 범주형 데이터만 encoding

In [306]:

for idx, type_ in enumerate(obesityDF.dtypes):
    name = obesityDF.columns[idx]
    if type_ == "object" and obesityDF.columns[idx] != "MTRANS":
        obesityDF[name] = self_OrdinalEncoder(obesityDF, name, obesityDF[name].unique())
        print(obesityDF.iloc[:,idx].value_counts())
        print("\n\n")
# MTRANS는 마지막에 처리하기

Gender
1    1068
0    1043
Name: count, dtype: int64



family_history_with_overweight
0    1726
1     385
Name: count, dtype: int64



FAVC
1    1866
0     245
Name: count, dtype: int64



SMOKE
0    2067
1      44
Name: count, dtype: int64



SCC
0    2015
1      96
Name: count, dtype: int64

In [307]:
obesityDF.info() # MTRANS -> 교통수단은 get_dummies 사용

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          2111 non-null   int64
 1   Age                             2111 non-null   float64
 2   Height                          2111 non-null   float64
 3   Weight                          2111 non-null   float64
 4   family_history_with_overweight  2111 non-null   int64
 5   FAVC                            2111 non-null   int64
 6   FCVC                            2111 non-null   float64
 7   NCP                             2111 non-null   float64
 8   CAEC                            2111 non-null   int64
 9   SMOKE                           2111 non-null   int64
 10  CH2O                            2111 non-null   float64
 11  SCC                             2111 non-null   int64
 12  FAF                             2111 non-null   float64
 13  TUE                             2111 non-null   float64
 14  CALC                            2111 non-null   int64
 15  MTRANS                          2111 non-null   object
 16  NObeyesdad                      2111 non-null   int64
dtypes: float64(8), int64(8), object(1)
memory usage: 280.5+ KB

## 대중 교통 수단은 get_dummies

In [308]:
list(obesityDF["MTRANS"].unique())

['Public_Transportation', 'Walking', 'Automobile', 'Motorbike', 'Bike']

In [309]:
num_DF = pd.get_dummies(obesityDF, columns=["MTRANS"], dtype=int)
num_DF

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,...,SCC,FAF,TUE,CALC,NObeyesdad,MTRANS_Automobile,MTRANS_Bike,MTRANS_Motorbike,MTRANS_Public_Transportation,MTRANS_Walking
0,0,21.000000,1.620000,64.000000,0,0,2.0,3.0,2,0,...,0,0.000000,1.000000,3,1,0,0,0,1,0
1,0,21.000000,1.520000,56.000000,0,0,3.0,3.0,2,1,...,1,3.000000,0.000000,2,1,0,0,0,1,0
2,1,23.000000,1.800000,77.000000,0,0,2.0,3.0,2,0,...,0,2.000000,1.000000,1,1,0,0,0,1,0
3,1,27.000000,1.800000,87.000000,1,0,3.0,3.0,2,0,...,0,2.000000,0.000000,1,2,0,0,0,0,1
4,1,22.000000,1.780000,89.800000,1,0,2.0,1.0,2,0,...,0,0.000000,0.000000,2,3,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,0,20.976842,1.710730,131.408528,0,1,3.0,3.0,2,0,...,0,1.676269,0.906247,2,6,0,0,0,1,0
2107,0,21.982942,1.748584,133.742943,0,1,3.0,3.0,2,0,...,0,1.341390,0.599270,2,6,0,0,0,1,0
2108,0,22.524036,1.752206,133.689352,0,1,3.0,3.0,2,0,...,0,1.414209,0.646288,2,6,0,0,0,1,0
2109,0,24.361936,1.739450,133.346641,0,1,3.0,3.0,2,0,...,0,1.139107,0.586035,2,6,0,0,0,1,0
2110,0,23.664709,1.738836,133.472641,0,1,3.0,3.0,2,0,...,0,1.026452,0.714137,2,6,0,0,0,1,0

In [310]:
temp = num_DF["NObeyesdad"]

num_DF = num_DF.drop("NObeyesdad", axis=True)

In [311]:
num_DF["NObeyesdad"] = temp
num_DF.head(3)

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,...,SCC,FAF,TUE,CALC,MTRANS_Automobile,MTRANS_Bike,MTRANS_Motorbike,MTRANS_Public_Transportation,MTRANS_Walking,NObeyesdad
0,0,21.0,1.62,64.0,0,0,2.0,3.0,2,0,...,0,0.0,1.0,3,0,0,0,1,0,1
1,0,21.0,1.52,56.0,0,0,3.0,3.0,2,1,...,1,3.0,0.0,2,0,0,0,1,0,1
2,1,23.0,1.80,77.0,0,0,2.0,3.0,2,0,...,0,2.0,1.0,1,0,0,0,1,0,1

## float round() -> 키 몸무게 빼고

In [312]:
for idx, type_ in enumerate(num_DF.dtypes):
    name = num_DF.columns[idx]
    if type_ == "float64" and name not in ["Height", "Weight"]:
        print(name)
        num_DF[name] = num_DF[name].round().astype(int)
        # print(obesityDF.iloc[:,idx].value_counts())
        print("\n")

Age


FCVC


NCP


CH2O


FAF


TUE

In [313]:
num_DF["BMI"] = num_DF.Weight / (num_DF.Height) ** 2
num_DF

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,...,FAF,TUE,CALC,MTRANS_Automobile,MTRANS_Bike,MTRANS_Motorbike,MTRANS_Public_Transportation,MTRANS_Walking,NObeyesdad,BMI
0,0,21,1.620000,64.000000,0,0,2,3,2,0,...,0,1,3,0,0,0,1,0,1,24.386526
1,0,21,1.520000,56.000000,0,0,3,3,2,1,...,3,0,2,0,0,0,1,0,1,24.238227
2,1,23,1.800000,77.000000,0,0,2,3,2,0,...,2,1,1,0,0,0,1,0,1,23.765432
3,1,27,1.800000,87.000000,1,0,3,3,2,0,...,2,0,1,0,0,0,0,1,2,26.851852
4,1,22,1.780000,89.800000,1,0,2,1,2,0,...,0,0,2,0,0,0,1,0,3,28.342381
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,0,21,1.710730,131.408528,0,1,3,3,2,0,...,2,1,2,0,0,0,1,0,6,44.901475
2107,0,22,1.748584,133.742943,0,1,3,3,2,0,...,1,1,2,0,0,0,1,0,6,43.741923
2108,0,23,1.752206,133.689352,0,1,3,3,2,0,...,1,1,2,0,0,0,1,0,6,43.543817
2109,0,24,1.739450,133.346641,0,1,3,3,2,0,...,1,1,2,0,0,0,1,0,6,44.071535
2110,0,24,1.738836,133.472641,0,1,3,3,2,0,...,1,1,2,0,0,0,1,0,6,44.144338

In [314]:
num_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          2111 non-null   int64
 1   Age                             2111 non-null   int32
 2   Height                          2111 non-null   float64
 3   Weight                          2111 non-null   float64
 4   family_history_with_overweight  2111 non-null   int64
 5   FAVC                            2111 non-null   int64
 6   FCVC                            2111 non-null   int32
 7   NCP                             2111 non-null   int32
 8   CAEC                            2111 non-null   int64
 9   SMOKE                           2111 non-null   int64
 10  CH2O                            2111 non-null   int32
 11  SCC                             2111 non-null   int64
 12  FAF                             2111 non-null   int32
 13  TUE                             2111 non-null   int32
 14  CALC                            2111 non-null   int64
 15  MTRANS_Automobile               2111 non-null   int32
 16  MTRANS_Bike                     2111 non-null   int32
 17  MTRANS_Motorbike                2111 non-null   int32
 18  MTRANS_Public_Transportation    2111 non-null   int32
 19  MTRANS_Walking                  2111 non-null   int32
 20  NObeyesdad                      2111 non-null   int64
 21  BMI                             2111 non-null   float64
dtypes: float64(3), int32(11), int64(8)
memory usage: 272.2 KB

In [316]:
num_DF.to_csv("Preprocessed_ObesityDataSet.csv", index = False)

In [318]:
for key, vals in Encoding_dic.items():
    print(key)
    for val in vals:
        print(val)
    print()

CAEC
('Always', 0)
('Frequently', 1)
('Sometimes', 2)
('no', 3)

CALC
('Always', 0)
('Frequently', 1)
('Sometimes', 2)
('no', 3)

NObeyesdad
('Insufficient_Weight', 0)
('Normal_Weight', 1)
('Overweight_Level_I', 2)
('Overweight_Level_II', 3)
('Obesity_Type_I', 4)
('Obesity_Type_II', 5)
('Obesity_Type_III', 6)

Gender
('Female', 0)
('Male', 1)

family_history_with_overweight
('yes', 0)
('no', 1)

FAVC
('no', 0)
('yes', 1)

SMOKE
('no', 0)
('yes', 1)

SCC
('no', 0)
('yes', 1)

---
---
---

In [ ]:
from sklearn.metrics import accuracy_scoreacc, precision_score, recall_score
from sklearn.metrics import confusion_matrix, f1_score, classification_report
from sklearn.metrics import
from sklearn.metrics import
from sklearn.metrics import
from sklearn.metrics import